.box{
    width: 1200px;
    margin: 0 auto;
}
.a{
    width: 200px;
    height: 200px;
    color: white;
    background-color: royalblue;
    text-align: center;
    line-height: 170px;
    font-size: 100px;
    margin-left: 0;
    margin-top: 10px;
}
.b{
    width: 200px;
    height: 240px;
    color: white;
    background-color: royalblue;
    text-align: center;
    line-height: 170px;
    font-size: 100px;
    margin-left: 210px;
    margin-top: -200px;
}
.c{
    width: 200px;
    height: 280px;
    color: white;
    background-color: royalblue;
    text-align: center;
    line-height: 170px;
    font-size: 100px;
    margin-left: 420px;
    margin-top:-240px; 
}
.d{
    width: 200px;
    height: 260px;
    color: white;
    background-color: royalblue;
    text-align: center;
    line-height: 170px;
    font-size: 100px;
    margin-left: 630px;
    margin-top: -280px;
}
.e{
    width: 200px;
    height: 200px;
    color: white;
    background-color: royalblue;
    text-align: center;
    line-height: 170px;
    font-size: 100px;
    margin-left: 0;
    margin-top: 50px;
}
.f{
    width: 200px;
    height: 240px;
    color: white;
    background-color: royalblue;
    text-align: center;
    line-height: 170px;
    font-size: 100px;
    margin-left: 210px;
    margin-top: -200px;
}
.g{
    width: 200px;
    height: 220px;
    color: white;
    background-color: royalblue;
    text-align: center;
    line-height: 170px;
    font-size: 100px;
    margin-left: 420px;
    margin-top: -240px;
}
.h{
    width: 200px;
    height: 180px;
    color: white;
    background-color: royalblue;
    text-align: center;
    line-height: 170px;
    font-size: 100px;
    margin-left: 630px;
    margin-top: -220px;
}