.box{
    width: 1200px;
    margin: 0 auto;
}
.solid{
    border: solid;
    border-color: grey;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 30px;
    line-height: 180px;
    margin-left: 0;
    margin-top: 30px;
}
.dashed{
    border: dashed;
    border-color: grey;
    width: 205px;
    height: 205px;
    text-align: center;
    font-size: 30px;
    line-height: 180px;
    margin-left: 270px;
    margin-top: -205px;
}
.dotted{
    border: dotted;
    border-color: grey;
    width: 205px;
    height: 205px;
    text-align: center;
    font-size: 30px;
    line-height: 180px;
    margin-left: 540px;
    margin-top: -210px;
}
.double{
    border: double;
    border-color: grey;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 30px;
    line-height: 180px;
    margin-left: 810px;
    margin-top: -210px;
}
.inset{
    border: 15px inset;
    border-color: grey;
    width: 180px;
    height: 180px;
    text-align: center;
    font-size: 30px;
    line-height: 180px;
    margin-left: 0;
    margin-top: 70px;
}
.outset{
    border: 15px outset;
    border-color: grey;
    width: 180px;
    height: 180px;
    text-align: center;
    font-size: 30px;
    line-height: 180px;
    margin-left: 270px;
    margin-top: -205px;
}
.groove{
    border: 15px groove;
    border-color: grey;
    width: 180px;
    height: 180px;
    text-align: center;
    font-size: 30px;
    line-height: 180px;
    margin-left: 540px;
    margin-top: -210px;
}
.ridge{
    border: 15px ridge;
    border-color: grey;
    width: 180px;
    height: 180px;
    text-align: center;
    font-size: 30px;
    line-height: 180px;
    margin-left: 810px;
    margin-top: -210px;
}
